<% mail_id = Visitor.where(:auth_token => request.params[:auth_token]).first.email %>
<% namev = Visitor.where(:auth_token => request.params[:auth_token]).first.name %>

<script type="text/javascript">
    function clickpay(object) {
        mails = $("#mail").val();
        auth_t = "<%= request.params[:auth_token] %>";
        name = $("#name").val();
        if(isValidEmailAddress(mails) == false || isNamePresent(name) == false)
        {
            $(object).removeAttr("data-payload");
            alert("Please enter valid Email Address and Name");       

        }
        else
        {
                test = $.ajax({
                     type: "POST",
                     url:    "/organisations/<%= request.params[:id] %>/bot/update_visitor",
                     data: {auth_token: auth_t , email: mails , name: name },
                     datatype:"json",
                    async: true
                });
             $(object).attr("data-payload" , "ameanything");
        }

    };

    function isNamePresent(name){
      if(name.trim() == " "){
        return false;
      }
      else {
        return true;
      }
    }
    function isValidEmailAddress(emailAddress) {
    var pattern = /^([a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+(\.[a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+)*|"((([ \t]*\r\n)?[ \t]+)?([\x01-\x08\x0b\x0c\x0e-\x1f\x7f\x21\x23-\x5b\x5d-\x7e\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|\\[\x01-\x09\x0b\x0c\x0d-\x7f\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))*(([ \t]*\r\n)?[ \t]+)?")@(([a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.)+([a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.?$/i;
    return pattern.test(emailAddress);
};
</script><li class="message left appeared">
        <div class="avatar"> <%= image_tag @organisation.avatar_icon.url(:small) %> </div>

    <div class="text_wrapper">
            <div class="text-header">
<b> Contact Information </b> <br/>
          In case we have to reach out to you, do you mind filling the your contact information?  
<div class="input-field">
          <input placeholder="Email Address" id="name" type="text" value="<%= namev %>" class="validate">
          <label for="mail">Name </label>
        </div>
<div class="input-field">
          <input placeholder="Email Address" id="mail" type="text" value="<%= mail_id %>" class="validate">
          <label for="mail">Email </label>
        </div>      


<center> <a class="btn bot" href="#" onclick="clickpay(this)" data-payload="gateway"> Submit </a> </center>


        </div>
      </div>

      </li>

<% mail_id = Visitor.where(:auth_token => request.params[:auth_token]).first.email %>
<% namev = Visitor.where(:auth_token => request.params[:auth_token]).first.name %>

<script type="text/javascript">
    function clickpay(object) {
        mails = $("#mail").val();
        auth_t = "<%= request.params[:auth_token] %>";
        name = $("#name").val();
        if(isValidEmailAddress(mails) == false || isNamePresent(name) == false)
        {
            $(object).removeAttr("data-payload");
            alert("Please enter valid Email Address and Name");       

        }
        else
        {
                test = $.ajax({
                     type: "POST",
                     url:    "/organisations/<%= request.params[:id] %>/bot/update_visitor",
                     data: {auth_token: auth_t , email: mails , name: name },
                     datatype:"json",
                    async: true
                });
             $(object).attr("data-payload" , "ameanything");
        }

    };

    function isNamePresent(name){
      if(name.trim() == " "){
        return false;
      }
      else {
        return true;
      }
    }
    function isValidEmailAddress(emailAddress) {
    var pattern = /^([a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+(\.[a-z\d!#$%&'*+\-\/=?^_`{|}~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]+)*|"((([ \t]*\r\n)?[ \t]+)?([\x01-\x08\x0b\x0c\x0e-\x1f\x7f\x21\x23-\x5b\x5d-\x7e\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|\\[\x01-\x09\x0b\x0c\x0d-\x7f\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))*(([ \t]*\r\n)?[ \t]+)?")@(([a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\d\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.)+([a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]|[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF][a-z\d\-._~\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]*[a-z\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])\.?$/i;
    return pattern.test(emailAddress);
};
</script><li class="message left appeared">
        <div class="avatar"> <%= image_tag @organisation.avatar_icon.url(:small) %> </div>

    <div class="text_wrapper">
            <div class="text-header">
<b> Contact Information </b> <br/>
          In case we have to reach out to you, do you mind filling the your contact information?  
<div class="input-field">
          <input placeholder="Email Address" id="name" type="text" value="<%= namev %>" class="validate">
          <label for="mail">Name </label>
        </div>
<div class="input-field">
          <input placeholder="Email Address" id="mail" type="text" value="<%= mail_id %>" class="validate">
          <label for="mail">Email </label>
        </div>      


<center> <a class="btn bot" href="#" onclick="clickpay(this)" data-payload="gateway"> Submit </a> </center>


        </div>
      </div>

      </li>

