

<ul class="messages" >
<li class="message left appeared">
  			<div class="avatar"> <%= image_tag "shree.png" %> </div>
			<div class="text_wrapper">
        		<div class="text-header">
					Hi, My name is Shree, I love helping visitors with their queries on Vedic Maths? </div>  
				<ul>
					<li>
 						<%= link_to "#" , method: :post , :remote => "true"   do %> 
							<center> What is Vedic Maths? </center>
						<% end %> 
					</li>
					<li>
						<%= link_to "#" , :remote => true   do %> 
							<center> Learn Vedic Maths </center>
						<% end %>
					</li>  
					<li>
						<%= link_to "#" , :remote => true   do %> 
							<center>Franchise </center>
						<% end %>
					</li>  
				</ul>
			</div>
		</li>
<%= render :partial => 'messages/message' , collection: @messages %>
</ul>
<input type="text" id="event" class="form-control message_send" name="chat_box" data-behavior="chatbot_call">
