<div class="row">
<div class="col-3">
<div class="list-group">

			<%= link_to "Bot Flow", bot_show_user_path(1) , :class => "list-group-item"  %>

			<%= link_to "Template Intent Mapping", bot_intent_user_path(:user_id => 1) , :class => "list-group-item"  %>

			<%= link_to "Automation Reports", bot_reports_user_path(:user_id => 1) , :class => "list-group-item"  %>



</div> <br/>
<div class="list-group">
			<%= link_to "Preview Chatbot", bot_preview_user_path(:user_id => 1) , :class => "list-group-item"  %>

			<%= link_to "Contact Support", home_contact_us_path(:user_id => 1) , :class => "list-group-item"  %>

</div>
</div>

<div class="col-9">

<div class="tree">
	<ul>
		<li>
			<a href="#">My Name is Shree and I love helping visitors with their queries on Vedic Maths!</a>
			<ul>
				<li>
					<a href="#">Child</a>
					<ul>
						<li>
							<a href="#">Grand Child</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#">Child</a>
					<ul>
						<li><a href="#">Grand Child</a></li>
						<li>
							<a href="#">Grand Child</a>
							<ul>
								<li>
									<a href="#">Great Grand Child</a>
								</li>
								<li>
									<a href="#">Great Grand Child</a>
								</li>
								<li>
									<a href="#">Great Grand Child</a>
								</li>
							</ul>
						</li>
						<li><a href="#">Grand Child</a></li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
</div>
</div>
</div>

