<div class="row no-spacing">
<div class="particles-container no-spacing">
<div id="particles-js"></div>
</div>

<div class="login-form s8 offset-s2">
<h5 class="center">Sign up </h5> 

<h3 class="center no-spacing">
<i class="material-icons medium prime-color">looks_one</i>
<i class="material-icons medium">looks_two</i>
<i class="material-icons medium">looks_3</i>

</h3>
<%= form_for (@organisation)  do |f| %>
  <% if @organisation.errors.any? %>
    <div id="error_explanation" class="white red darken-4 damp-color center" >
              
      <ul>
        <% @organisation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
   Organisation Name: <br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    Website: <br/> 
    <%= f.text_field :website, autofocus:true %> 
  </div>

  <div class="field">
   Email : <br />
    <%= f.text_field :admin_email, autofocus: true %>
  </div>
 
  <div class="actions top-margin-20 center">
    <%= submit_tag "proceed to step 2" , :class => "btn btn-primary " %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>
</div>
<script type="text/javascript">
  particlesJS.load('particles-js', '<%= asset_path("particle.json") %>', function() {
  console.log('callback - particles.js config loaded');
});

</script>
<style type="text/css">
   
    body
    {
        background-color: #00356B;
    }
 </style>
