<div class="row container top-margin-20">
		<div class="col s3 demo">
				<div class="nav">

<nav role="navigation" style="width: 100% !important ; ">
  <ul>


          <li class="<%= active_helper(settings_account_organisation_path(:id => 1)) %>"><%= link_to "LiveChat Automation" , settings_account_organisation_path(:id => 1) %></li>
				
						<li class="<%= active_helper(settings_theme_organisation_path(:id => 1)) %>">
						<%= link_to "Auto FAQ Responder", settings_theme_organisation_path(:id => 1) , :class => "collection-item"  %></li>


						<li class="<%= active_helper(settings_payment_organisation_path(:id => 1)) %>">
						<%= link_to "Machine Comprehension", settings_payment_organisation_path(:id => 1) , :class => "collection-item"  %></li>	

						<li class="<%= active_helper(settings_payment_organisation_path(:id => 1)) %>">
						<%= link_to "Task Oriented Bot", settings_payment_organisation_path(:id => 1) , :class => "collection-item"  %></li>	

						<li class="<%= active_helper(settings_payment_organisation_path(:id => 1)) %>">
						<%= link_to "Spelling Check", settings_payment_organisation_path(:id => 1) , :class => "collection-item"  %></li>	

						<li class="<%= active_helper(settings_payment_organisation_path(:id => 1)) %>">
						<%= link_to "Insult Detection", settings_payment_organisation_path(:id => 1) , :class => "collection-item"  %></li>	

<li class="<%= active_helper(settings_payment_organisation_path(:id => 1)) %>">
						<%= link_to "Customizable Theme", settings_payment_organisation_path(:id => 1) , :class => "collection-item"  %></li>	
						<hr/> 
						<li class="<%= active_helper(settings_payment_organisation_path(:id => 1)) %>">
						<%= link_to "End to End Chatbot", settings_payment_organisation_path(:id => 1) , :class => "collection-item"  %></li>	



			  </ul>
			  </nav>	
			  </div>
		</div>
		<div class="col s9 white">
<div class="row">
	<h4> Chat Once, Automate Forever </h4>
	<hr/>
	<p class="lead padding-1">
	With a simple toggle of a button, you allow the previous conversations to be automated. If the conversation is private, you need to toggle the ML button to off. <br/><br/>


The conversations gets added to a query response schema which can be edited or deleted later from the bot tools as shown in the screenshot below. </p>
</div>
</div>
</div>


