<% if user_signed_in? %>
<div style="margin:50px;" class="col hide-on-small-only m3 l2">
      <ul class="section table-of-contents">
        <li><a href="#introduction">Introduction</a></li>
        <li><a href="#structure">Structure</a></li>
        <li><a href="#initialization">Intialization</a></li>
      </ul>
    </div>


<div class="row">
<div class="col-3">
<div class="list-group" id="panel-show-active-members">
<% Visitor.all.each do |visitor| %>
	<% if visitor.online? %>

		<div id="<%= visitor.id %>">
			<%= link_to new_user_chat_path(:user_id => 1 , :auth_token => visitor.auth_token) , :class => "list-group-item" , :remote => "true" do %>

			<%= visitor.id %>

			<% end %>

<span class="hidden"><%= visitor.auth_token %></span>
</div>

	<% end %>
<% end %> 
</div>

</div>
<div id="display_chats" class="col-9">
	
</div>
</div>
<% else %>
<%= render ("/home/partials/home") %>

<% end %>



