

<% if user_signed_in? %>
<div class="row container">

    <div class="col s2 blue card" id="panel-visitors">


      <div id="panel-show-active-members">
        
                <h4 class="white-text flow-text right">Visitors</h4>

        <div class="<%= session[:orga_id] %>"> 
        <% @organisation_vistors.each do |visitor| %>
          <% if visitor.online? %>
          <% @bool = 1 %>
            <div id="<%= visitor.id %>" class="visitor-container">
              <%= link_to new_organisation_chat_path(:organisation_id => session[:orga_id] , :auth_token => visitor.auth_token) , :class => "list-group-item" , :remote => "true", :onclick => 'nameclick("'+visitor.auth_token+'")' , :"data-auth_t" => visitor.auth_token do %>
    <img src="https://maps.googleapis.com/maps/api/staticmap?size=200x200&markers=color:red%7CMumbai+India&center=Mumbai,India&zoom=5&maptype=roadmap&key=AIzaSyD3ZYIdavY-Ikz1vktl8LzIKumE9BVbU-g" alt="" class="circle responsive-img not_selected"> 
              <% end %>
              <span class="hidden">
                 <%= visitor.auth_token %>
              </span>
            </div>

            <% end %>
        <% end %>
        </div>
      </div>
    </div>

    <div class="col s8 card no-padding">

      <div id="appendnav<%= session[:orga_id] %>" > 
      </div>
    
      <div class="white display_chats" id="display_chats<%= session[:orga_id] %>">
       
<% if @bool == 0 %>
<div class="col s12 m8 offset-m2">
    <h2 class="header">No Visitors Online</h2>
    <div class="card horizontal">
      
      <div class="card-stacked">
        <div style="font-size: 12px; height: 100px; overflow-y: scroll;" class="card-content">
          <code id="code">
           &lt;link href="http://www.chaturbots.com/chatbot_initial.css" type="text/css" rel="stylesheet" /&gt; 
            &lt;script type="text/javascript" data-organisation="3" src="http://www.chaturbots.com/chatbot_initial.js" /&gt;
            &lt;script type="text/javascript" data-organisation="3" src="http://www.chaturbots.com/chatbot_append.js.js" /&gt;
         </code>
        </div>
        <div class="card-action right-align">
          <a href="#" onclick="copyToClipboard('#code')" class="primary-text">Copy Embed Code</a>
        </div>
      </div>
    </div>

    <div class="card horizontal">
      
      <div class="card-stacked">
        <div class="card-content">
          <p>   
          In case you have any suggestions or bugs, you can always reach out to us and we would make it work for you in just couple of hours. That is our <b>commitment</b>. 
          </p>
        </div>
        <div class="card-action right-align">
          <a href="#" class="primary-text">Contact Us</a>
        </div>
      </div>
    </div>

  </div>        <% end %>
      </div>
    </div>
<div class="col s2 card no-padding">
 <div class="white display_visitor_info" id="display_vinfo<%= session[:orga_id] %>" >
</div>
</div>
    
</div>

<% else %>
<%= render ("/home/partials/home") %>
  <% end %>
<script type="text/javascript">
  function copyToClipboard(element) {
  var $temp = $("<input>");
  $("body").append($temp);
  $temp.val($(element).text()).select();
  document.execCommand("copy");
  $temp.remove();
}
</script>