<div class="collection">
        <%= link_to "Intents" , intents_all_organisation_path(:id => session[:orga_id]) , :class => "collection-item" %>

						<%= link_to "Spell Checker" , bot_spell_checker_organisation_path(:id => 1), :class => "collection-item" %>

						<%= link_to "Reports", bot_reports_organisation_path(:id => 1) , :class => "collection-item"  %>
						<%= link_to "Preview Bot", bot_preview_organisation_path(:id => session[:orga_id]) , :class => "collection-item" , :target => "blank" %>
						<%= link_to "Contact Us", home_contact_us_path(:id => 1) , :class => "collection-item"  %>
			  </div>	