


<div class="nav">
<h5>Knowledge Base</h5>
<nav role="navigation">
  <ul>
  

  <li class="<%= active_helper(intents_all_organisation_path(:id => session[:orga_id])) %>">
    <%= link_to "Intents" , intents_all_organisation_path(:id => session[:orga_id])   %> 
    </li>
     <li class="<%= active_helper(new_organisation_previous_chat_path(:organisation_id => session[:orga_id])) %>">
                <%= link_to "Previous Chats" , new_organisation_previous_chat_path(:organisation_id => session[:orga_id])   %>
                </li>
  <li class="<%= active_helper(bot_web_scraping_organisation_path(:id => session[:orga_id])) %>">
               <%= link_to  bot_web_scraping_organisation_path(:id => session[:orga_id]) , :class => active_helper(bot_preview_organisation_path(:id => session[:orga_id])) do %>  Web Scraping <% end %>
                </li>


                <li class="<%= active_helper(bot_widgets_organisation_path(:id => session[:orga_id])) %>">
               <%= link_to  bot_widgets_organisation_path(:id => session[:orga_id]) , :class => active_helper(bot_widgets_organisation_path(:id => session[:orga_id])) do %> Widgets <% end %>
                </li>

                </ul>
                </nav>
</div>

<div class="nav">
<h5>Bot Tools</h5>
<nav role="navigation">
  <ul>
  <li class="<%= active_helper(bot_vdata_organisation_path(:id => session[:orga_id])) %>">
                <%= link_to "Visitors Info", bot_vdata_organisation_path(:id => session[:orga_id]) , :class => active_helper(bot_vdata_organisation_path(:id => session[:orga_id]))  %>
                </li>
     <li class="<%= active_helper(bot_reports_organisation_path(:id => session[:orga_id])) %>">
                <%= link_to "Reports", bot_reports_organisation_path(:id => session[:orga_id]) , :class => active_helper(bot_reports_organisation_path(:id => session[:orga_id]))  %>
                </li>
 <li class="<%= active_helper(bot_preview_organisation_path(:id => session[:orga_id])) %>">
               <%= link_to  bot_preview_organisation_path(:id => session[:orga_id]) , :class => active_helper(bot_preview_organisation_path(:id => session[:orga_id])) , :target => "blank" do %>  Preview Bot <% end %>
                </li>
                </ul>
                </nav>
</div>




						

						

      
