




<div class="row container top-margin-20">
		<div class="col s6 white no-padding">
	<div class="row">		
<h5> Unread Messages </h5>
	
<% if @vis_unread.count == 0 %>
<CENTER><b> <i> No Unread Messages! </i></b>
</CENTER>
<% end %>

		<ul class="navigation_chats">

       <% @vis_unread.each do |visitor| %>


		<li id="<%= visitor.id %>"> 
		
	<%= link_to organisation_chat_path(:organisation_id => request.params[:organisation_id] , :id => visitor.id) , :class => active_helper(organisation_chat_path(:organisation_id => request.params[:organisation_id] , :id => visitor.id)) , :remote => "true" do %>
      <div class="col s4"><%= truncate(visitor.name , :length => 25) %></div>
       <div class="col s4"><%= truncate(visitor.email , :length => 25) %></div>
      <div class="col s4"><%= truncate(visitor.location , :length => 25) %></div>
      <div class="col s12">
            <span class="hidden"><%= visitor.auth_token %></span>

      </div>
      <% end %>

</li>


	<% end %>
</ul>

<h5> Previous Messages </h5>
		<ul class="navigation_chats">

			       <% @vis.each do |visitor| %>
	<!-- 
       <% if  visitor.name %>
	<% disp = visitor.name %>
	<% elsif visitor.email %>
	<% disp = visitor.email %>
	<% else %>
	<% disp = visitor.location %>
<% end %> -->

				<li id="<%= visitor.id %>"> 

	<%= link_to organisation_chat_path(:organisation_id => request.params[:organisation_id] , :id => visitor.id) , :class => active_helper(organisation_chat_path(:organisation_id => request.params[:organisation_id] , :id => visitor.id)) , :remote => "true" do %>
      <div class="col s4">



      <%= truncate(visitor.name , :length => 25) %></div>
       <div class="col s4"><%= truncate(visitor.email , :length => 25) %></div>
      <div class="col s4"><%= truncate(visitor.location , :length => 25) %></div>
      <span class="hidden"><%= visitor.auth_token %></span>

      <% end %>

</li>
<% end %>
</ul>
			  </div>	
		</div>
		<div class="col s6 white no-paading">
		<h5> <center> Chat Archives </center></h5>

		<div id="display_chats" class="display_chats">
	
</div>

		
	</div>
</div>





