<div class="particles-container no-spacing">
<div id="particles-js" style="height: 700px;"></div>
</div>

<div class="login-parent">
<div class="login-main-form">

  <h5 class="center">Login</h5>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
   <% if resource.errors.any? %>
    <div id="error_explanation" class="white red darken-4 damp-color center" >
      
       <%=  pluralize(resource.errors.count, "error")  %> has been incurred
        
      <ul>
        <% resource.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <div class="input-field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="input-field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>
  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />

    <div class="actions top-margin-20 center">
      <%= f.submit "Log in" , :class => "btn btn-primary" %>
    </div>
  <% end %>
</div>
</div>


<script type="text/javascript">
  particlesJS.load('particles-js', '<%= asset_path("particle.json") %>', function() {
  console.log('callback - particles.js config loaded');
});

</script>