 
 <div class="particles-container">
    <div id="particles-js"></div>
    <div class="container">
            <h1 class="header center">Automate Your Live Chat</h1>
      <div class="row center">
        <h5 class="header col s12 light">Why waste your time answering repetitive queries?</h5>
      </div>
      <div class="row center">
       <%= link_to "Start Your Free Trial", home_request_path , :class => "btn-large waves-effect waves-light btn-primary-inverse", data: { turbolinks: false }  %> 
      </div>
    </div>

  </div>
    <div class="diagonal-effect grey lighten-2 black-text">
      <center>  <a href="#features" class="btn-floating btn-large waves-effect waves-light button-bottom btn-primary-inverse"><i class="material-icons btn-primary-inverse">keyboard_arrow_down</i></a>
</center>
    </div>





  <div class="padding-vertical-3 grey lighten-2 black-text">
  <div class="container">
    <div class="section padding-vertical-1">
      <div class="row">
        <h3 class="sub-head features">What?</h3>
      </div>



      <div class="row">
      <div class="col s8 offset-s2">
      <div class="video-container">

        <iframe id="features" class="scrollspy" width="800" height="500" src="https://www.youtube.com/embed/Eoab5XgWDyo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
      </div>
      </div>
      </div>
<!-- 


      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h1 class="center indigo-text"><i class="material-icons">live_help
</i></h1>
            <h5 id="features" class="center scrollspy">Live Chat</h5>
            <p class="center light"> We allow customer support agents to talk to talk to the visitors on the website and increase the sales lead. 
            </p>
          </div>
        </div>
 <div class="col s12 m4">
          <div class="icon-block">
            <h1 class="center indigo-text"><i class="material-icons">question_answer</i></h1>
            <h5 class="center">Machine Comprehension</h5>
            <p class="light center">  We scrap data from your site and enable people to ask questions based on that. This enables your content to be more interactive with your audience.  </p>
          </div>
        </div>
        
        <div class="col s12 m4">
          <div class="icon-block">
            <h1 class="center indigo-text"><i class="material-icons">spellcheck</i></h1>
            <h5 class="center">Custom Spell Checker</h5>
            <p class="light center"> A custom dictionary of words is mined from the website to create a spell checker. It would help correct the spelling mistakes of the visitors.  </p>
          </div>
        </div>
</div>
<div class="row">
       
        <div class="col s12 m6">
          <div class="icon-block">
            <h1 class="center indigo-text"><i class="material-icons">build</i></h1>
            <h5 class="center">Previous Chats Automation</h5>
            <p class="light center"> We use machine learning alogrithms to make our chatbot intelligent. The machine learning is applied to highly tagged data, thus increasing our productivity. 
            </p>
          </div>
        </div>


        <div class="col s12 m6">
          <div class="icon-block">
            <h1 class="center indigo-text"><i class="material-icons">web
</i></h1>
            <h5 class="center">Reports</h5>
            <p class="light center">We provide you with automation reports and insights into what your customers are looking for.</p>
          </div>
        </div>

         



      </div> -->

    </div>
  </div>

  
  <div class="padding-vertical-3 grey lighten-2 black-text">
    <div class="container">
      <div class="section padding-vertical-3">
        <div class="row">
          <h3 class="sub-head">
          PRICING STARTING WITH ONLY
          </h3>
        </div>
     <div class="row">

                <!-- MATERIALIZE CSS USES 12 COLUMN GRID SYSTEM, DETAILS http://materializecss.com/grid.html -->
               
                    
                    <!-- START PRICING PLAN -->
                    

                <!-- FEATURED PLAN ( USE EXTRA CLASS z-depth-4 TO RAISE FEATURED PLAN )-->
                <div class="col s12 m4 offset-m4">
                    
                    <!-- START PRICING PLAN -->
                    <div class="card white blue-text pricing style-3 z-depth-4">
                        
                        <!-- START PLAN TITLE DIV. -->
                        
                        <!-- END PLAN TITLE DIV. -->
                        
                       
                        
                        <!-- START PRICE INFO DIV. -->
                        <div class="price waves-effect waves-block waves-light blue">
                            <h4 class="white-text">
                                <span class="currency">$</span>
                                <span class="amount">9</span>
                                <span class="period">/mo</span>
                            </h4>
                        </div>
                        <!-- END PRICE INFO DIV. -->
                        
                        <!-- START FLOATING SIGN UP BUTTON WITH ICON SUPPORT -->
                      
                        <!-- END FLOATING SIGN UP BUTTON -->
                        
                    </div>
                    <!-- END PRICING PLAN -->
                    
                </div>
              
            </div>
            </div>
            </div>
            </div>


<!--
  <div class="grey lighten-3 padding-vertical-3">
    <div class="container">
      <div class="section padding-vertical-3">
        <div class="row">
          <h3 class="sub-head">
            Hear what people say
          </h3>
        </div>
        <div class="row padding-vertical-1">
          <div class="col s12 m5">
            <em class="flow-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." <br> - Ajay NS</em>
          </div>
          <div class="col s12 m5 offset-m2">
            <em class="flow-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." <br> - Ajay NS</em>
          </div>
        </div>
      </div>
    </div>
  </div>
-->

  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l9 s12">
          <h5 class="white-text">About Us</h5>
          <p class="white-text text-lighten-3">We provide interactive tools and chatbot services to automate the customer support of your business. <br/>
          <%= link_to "About Us" , home_about_us_path %> &nbsp;&nbsp;
&nbsp;          <%= link_to "Privacy Statement" , home_privacy_path %> &nbsp;&nbsp;&nbsp;
          <%= link_to "Terms of Services" , home_terms_of_service_path %> &nbsp;&nbsp;&nbsp;
          <%= link_to "Refund Policy" , home_refund_path %> </p>
        </div>
        <div class="col l2 s12 offset-l1">
          <h5 class="white-text">Connect</h5>
          <ul>

            <li><a class="white-text" href="https://twitter.com/vaibhavgeek">Twitter</a></li>
            <li><a class="white-text" href="https://www.facebook.com/chaturbots/">Facebook</a></li>
           <li><a class="white-text" href="mailto:vaibhav@chaturbots.com">vaibhav@chaturbots.com</a></li>

          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        &copy;  2018 <a class="indigo-text text-lighten-3" href="#">ChaturBots AI Private Limited </a> CIN  (U74993GJ2018PTC100739) <br/> B-71, Alpine Heights, Opp. Income Tax Char Rasta, Navrangpura, Ahemdabad, Gujarat, India - 38009 <br/>
        Phone : 9512535646

          
      </div>
    </div>
  </footer>



               

<script type="text/javascript">
  (function($){
  $(function(){

    $('.button-collapse').sideNav();
    $('.parallax').parallax();
    $('.carousel.carousel-slider').carousel({fullWidth: true});
    
    setInterval(function() {
      $('.carousel.carousel-slider').carousel('next');
    }, 6000);
  }); // end of document ready
})(jQuery); // end of jQuery name space

particlesJS.load('particles-js', '<%= asset_path("particle.json") %>', function() {
  console.log('callback - particles.js config loaded');
});

 $(document).ready(function(){
    $('.scrollspy').scrollSpy();
  });

</script>

