


<div class="chatbot_preview"><!-- chatbox content -->
	<ul class="messages">

		<% if @messages.first != nil %>
			<span class="timestamp">
				<center><%= @messages.first.created_at.to_time.to_s(:short) %> </center>
			</span>		 
		<% else %>
			<span class="timestamp"> 
				<center> <%= Time.now.utc.to_time.to_s(:short) %> </center>
			</span>
		<% end %>	
	
	<%= render :partial =>  "bots/" + @initial_message %>

		<%= render :partial => 'messages/message' , collection: @messages %>


  <!--fb-chat-bubbles-->
	</ul>
	
<div class="fb-chat--bubbles hidden">
 typing..    <span></span>
    <span></span>
    <span></span>
  </div>					


       
	

				
					



	<%= form_for Message.new, :url => organisation_messages_path(request.params[:id] , :auth_token => request.params[:auth_token]) , :method => "post" , :remote => "true" , :html => {:id => "f"+request.params[:auth_token]} do |f| %>

				<div class="input_message">

					<%= f.text_field :content , :name => "chat_box" , :size => "40" , :"data-behavior" => "chatbot_call" , :id => "icon_prefix" , :onkeyup => "onkeyup_colfield_check(this)" %>
  				</div>
			<% end %>

	</div>

	<script type="text/javascript">

 function onkeyup_colfield_check(e){
    var enterKey = 13;
    var charCode = (typeof e.which === "number") ? e.which : e.keyCode;
        if (charCode == enterKey){
            $("#f<%= request.params[:auth_token] %>").submit();

        }
}


	</script>