

<div class="row container top-margin-20">
		<div class="col s2 white no-padding">
				<div class="collection">
        <%= link_to "Intents" , user_intents_all_path(:user_id => 1) , :class => "collection-item" %>
				<%= link_to "Intent Mapping" , bot_intent_mapping_user_path(:id => 1), :class => "collection-item" %>
						<%= link_to "Reports", bot_reports_user_path(:id => 1) , :class => "collection-item"  %>
						<%= link_to "Preview Bot", bot_preview_user_path(:id => 1) , :class => "collection-item"  %>
						<%= link_to "Contact Us", home_contact_us_path(:id => 1) , :class => "collection-item"  %>
			  </div>	
		</div>
		<div class="col s10 white">
		

<%= pie_chart({'bot'=>4, 'user'=>5}) %>
<%= line_chart Message.group_by_day(:created_at).count %>

	</div>
</div>