<!DOCTYPE html>
<html>
  <head>
    <title>ChaturBots</title>
    <%= csrf_meta_tags %>
	<%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

   <% if user_signed_in? %>
   <div class="navbar-fixed">
    <nav role="navigation" class="z-depth-0">
      <div class="nav-wrapper">

        <a id="logo-container" href="#" class="brand-logo">ChaturBots</a>
      


        <ul class="right hide-on-med-and-down">
<li><%= link_to "Active Chats" , root_path %></li>
<li> <%= link_to "Bot" , bot_intent_mapping_user_path(current_user) %></li>
<li>  <%= link_to "Chat-Archives" , user_chats_path(current_user) %></li>
<li><%=link_to "Settings" , settings_account_path %></li>
<li>  <%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
          <li><%= link_to "Active Chats" , root_path %></li>
<li> <%= link_to "Bot" , bot_intent_mapping_user_path(current_user) %></li>
<li>  <%= link_to "Chat-Archives" , user_chats_path(current_user) %></li>
<li><%=link_to "Settings" , settings_account_path %></li>
<li>  <%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </div>


       <% else %>
<div class="navbar-fixed">
    <nav role="navigation" class="z-depth-0">
      <div class="nav-wrapper">        <a id="logo-container" href="#" class="brand-logo"> <i class="material-icons">chat</i>  ChaturBots</a>
      


        <ul class="right hide-on-med-and-down page-scroll">
          <li  class="active"><%= link_to "Home" , root_path %></li>
  <% if request.params["action"] == "index" %>
  <li ><a class="page-scroll" href="#features">Features</a></li>
  <li ><a class="page-scroll" href="#how-it-works">How it works?</a></li>
  <% else %>
 <li > <%= link_to "Features" , root_path(:anchor => "how-it-works") , :class => "diff-page-scroll" %>
  <% end %>

  <li ><%= link_to "Blog" , "https://chaturbots.blogspot.in/" , :target => "_blank" %></li>
  <li > 
  <%= link_to "Login" , new_user_session_path %></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Features</a></li>
          <li><a href="#">How It Works</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Login</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </div>

       <% end %>
 





  

<%= yield %>

 
  </body>
</html>
