<!DOCTYPE html>
<html>
  <head>
    <title>ChaturBots</title>
    <%= csrf_meta_tags %>
	<%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>

  <body class="<%= controller.controller_name + controller.action_name %>">

   <% if user_signed_in? && session[:orga_id] %>
   <div class="navbar-fixed">
    <nav role="navigation" class="z-depth-0">
      <div class="nav-wrapper">
          <%= image_tag "logo_nav.png" , :style => "width:45px; margin-top:10px; margin-right: 10px;" %>

             
        <%= link_to "ChaturBots" , root_path , :class => "brand-logo" %>
      


        <ul class="right hide-on-med-and-down">
<li><%= link_to "Active Chats" , root_path %></li>
<li> <%= link_to "Bot" , intents_all_organisation_path(:id => session[:orga_id]) %></li>
<li>  <%= link_to "Analytics" , organisation_chats_path(:organisation_id => session[:orga_id]) %></li>
<li><%=link_to "Settings" , settings_account_organisation_path(:id => session[:orga_id]) %></li>
<li>  <%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
          
<li><%= link_to "Active Chats" , root_path %></li>
<li> <%= link_to "Bot" , bot_intent_mapping_organisation_path(:id => session[:orga_id]) %></li>
<li>  <%= link_to "Analytics" , organisation_chats_path(:organisation_id => session[:orga_id]) %></li>
<li><%=link_to "Settings" , settings_account_organisation_path(:id => session[:orga_id]) %></li>
<li>  <%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </div>

  <div class="dialogue-controller"></div>

<div class="dialogue template">
 <div class="message"></div>
  <div class="close <%=session[:orga_id]%>">✕</div>
  <div style="clear:both"></div>
</div>



       <% else %>
<div class="navbar-fixed">
    <nav role="navigation" class="z-depth-0">
      <div class="nav-wrapper">       

        <%= image_tag "logo_nav.png" , :style => "width:45px; margin-top:10px; margin-right: 10px;" %>

               <%= link_to "ChaturBots" , root_path , :class => "brand-logo" %>

      


        <ul class="right hide-on-med-and-down page-scroll">
  <li  class="active"><%= link_to "Home" , root_path %></li>
  <% if request.params["action"] == "index" %>
  <li><a class="page-scroll" href="#features">Features</a></li>
  <li><a class="page-scroll" href="#how-it-works">How it works?</a></li>
  <li><%= link_to "Pricing" , home_pricing_path %></li>


  <% end %>
  <li><%= link_to "Blog" , "https://chaturbots.blogspot.in/" , :target => "_blank" %></li>
  <li><%= link_to "Login" , new_user_session_path %></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#features">Features</a></li>
          <li><a href="#how-it-works">How It Works</a></li>
  <li><%= link_to "Blog" , "https://chaturbots.blogspot.in/" , :target => "_blank" %></li>
  <li><%= link_to "Login" , new_user_session_path %></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </div>

       <% end %>
 





  

<%= yield %>

 
  </body>
</html>
