<!DOCTYPE html>
<html>
  <head>
    <title>Chaturbots</title>
    <%= csrf_meta_tags %>
	<%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

     <div style="background-color: black;" class="jumbotron jumbotron-fluid" id="particles-js">

</div>

<div class="header">
<div class="pull-left">
<span class="icon">
ChaturBots
<span class="glyphicon glyphicon-comment"></span>

</span>

</div>
<div class="pull-right">
<% if user_signed_in? %>
<ul class="nav nav-pills">


<li role="presentation"> <%= link_to "Active Chats" , root_path %>
</li>

<li role="presentation"> <%= link_to "Bot" , bot_show_user_path(current_user) %>
</li>
<li role="presentation">  <%= link_to "Chat-Archives" , user_chats_path(current_user) %>
</li>
<li role="presentation"><%=link_to "Settings" , settings_account_path %></li>
<li role="presentation"><%= link_to "Helpline" , home_contact_us_path %></li>

<li role="presentation">  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>   </li>
</ul>
<% else %>
<ul class="nav nav-pills">
  <li role="presentation" class="active"><%= link_to "Home" , root_path %></li>
  <% if request.params["action"] == "index" %>
  <li role="presentation"><a class="page-scroll" href="#features">Features</a></li>
  <li role="presentation"><a class="page-scroll" href="#how-it-works">How it works?</a></li>
  <% else %>
 <li role="presentation"> <%= link_to "Features" , root_path(:anchor => "how-it-works") , :class => "diff-page-scroll" %>
  <% end %>

  <li role="presentation"><%= link_to "Blog" , "https://chaturbots.blogspot.in/" , :target => "_blank" %></li>
  <li role="presentation"> 
  <%= link_to "Login" , new_user_session_path %></li>
</ul>
<% end %>
<br/>
</div>
</div>


  <% if user_signed_in? %> 
<div class="col-md-10 col-md-offset-1 panel">

<%= yield %>
</div>
<% else %>
<%= yield %>

  <% end %>
    
  </body>
</html>
