<!DOCTYPE html>
<html>
  <head>
    <title>Chaturbots</title>
    <%= csrf_meta_tags %>
	<%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

     <div style="background-color: black;" class="jumbotron jumbotron-fluid" id="particles-js">

</div>

<div class="header">
<div class="pull-left">
<span class="icon">
ChaturBots
<span class="glyphicon glyphicon-comment"></span>

</span>

</div>
<div class="pull-right">
<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">About Us</a></li>
  <li role="presentation"><a href="#">Need a Bot?</a></li>
  <li role="presentation"><a href="#">Login</a></li>
</ul>
<br/>
</div>
</div>
<h1 class="top"> Automate Customer Support </h1>


   
<script type="text/javascript">
     particlesJS.load('particles-js', '<%= asset_path("particle.json") %>', function() {
     console.log('callback - particles.js config loaded');
     });
  </script>
  
<i class="glyphicon glyphicon-chevron-down"></i>
<div class="diagonal-effect"></div>

  <div class="row-fluid">
  <div class="bottom_half">
  <div class="span10 offset1">
  
  <% if user_signed_in? %>

<div class="navbar">
              <div class="navbar-inner">
                <div class="container">
                  <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </a>
                  <a class="brand" href="#">ChaturBots</a>
                  <div class="nav-collapse collapse navbar-responsive-collapse">
                    <ul class="nav">
                      <li class="active">
                        <%= link_to "Active Chats" , home_index_path %>
                      </li>
                      <li>
                     <%= link_to "Bot" , bot_show_user_path(current_user) %>
                      </li>
                      <li>
                      <%= link_to "Archives" , user_chats_path(current_user) %>
                    </li>
                      <li><a href="#">Tickets</a></li>
                      
                     
                    </ul>
                    <form class="navbar-search pull-left" action="">
                      <input type="text" class="search-query span10" placeholder="Search Chats">
                    </form>
                    <ul class="nav pull-right">
                      <li><%= link_to "Helpline" , home_contact_us_path %></li>
                      <li class="divider-vertical"></li>
                      <li class="dropdown"> 
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b> </a>
                        <ul class="dropdown-menu">
                          <li><%=link_to "Payment Settings" , settings_payment_path %></li>
                          <li><%=link_to "Account Settings" , settings_account_path %></li>
                          <li class="divider"></li>
                          <li>  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
</li>
                        </ul>
                      </li>
                    </ul>
                  </div><!-- /.nav-collapse -->
                </div>
              </div><!-- /navbar-inner -->
            </div>
 <% else %>

<div class="navbar">
              <div class="navbar-inner">
                <div class="container">
                  <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </a>
                  <a class="brand" href="#">GlobCon Hackathon</a>
                  <div class="nav-collapse collapse navbar-responsive-collapse">
                    <ul class="nav">
                      <li class="active">
                        <%= link_to "Home" , home_index_path %>
                      </li>
                                            <li> <%= link_to "About Us" , home_about_us_path %> </li>

                     
                    </ul>
                    
                    <ul class="nav pull-right">
                      <li><%= link_to "Login" , new_user_session_path %></li>
                       <li class="divider-vertical"></li>

                      <li><%= link_to "Sign up" , new_user_registration_path %></li>

                      
                    </ul>
                  </div><!-- /.nav-collapse -->
                </div>
              </div><!-- /navbar-inner -->
            </div>


 <% end %>
</div>
</div>
</div>
<div class="row-fluid">
<div class="span10 offset1 panel">
<%= params.inspect %>
    <%= yield %>
</div>
</div>
  </body>
</html>
