<!DOCTYPE html>
<html>
  <head>
    <title>Chaturbots</title>
    <%= csrf_meta_tags %>
	<%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="row-fluid">
  <div class="span10 offset1">
  
  <% if user_signed_in? %>

<div class="navbar">
              <div class="navbar-inner">
                <div class="container">
                  <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </a>
                  <a class="brand" href="#">ChaturBots</a>
                  <div class="nav-collapse collapse navbar-responsive-collapse">
                    <ul class="nav">
                      <li class="active">
                        <%= link_to "Active Chats" , home_index_path %>
                      </li>
                      <li>
                      <a href="#">Bot</a></li>
                      <li>
                      <%= link_to "Archives" , user_chats_path(current_user) %>
                    </li>
                      <li><a href="#">Tickets</a></li>
                      
                     
                    </ul>
                    <form class="navbar-search pull-left" action="">
                      <input type="text" class="search-query span10" placeholder="Search Chats">
                    </form>
                    <ul class="nav pull-right">
                      <li><%= link_to "Helpline" , home_contact_us_path %></li>
                      <li class="divider-vertical"></li>
                      <li class="dropdown"> 
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b> </a>
                        <ul class="dropdown-menu">
                          <li><%=link_to "Payment Settings" , settings_payment_path %></li>
                          <li><%=link_to "Account Settings" , settings_account_path %></li>
                          <li class="divider"></li>
                          <li>  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
</li>
                        </ul>
                      </li>
                    </ul>
                  </div><!-- /.nav-collapse -->
                </div>
              </div><!-- /navbar-inner -->
            </div>
 <% else %>

<div class="navbar">
              <div class="navbar-inner">
                <div class="container">
                  <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </a>
                  <a class="brand" href="#">ChaturBots</a>
                  <div class="nav-collapse collapse navbar-responsive-collapse">
                    <ul class="nav">
                      <li class="active">
                        <%= link_to "Home" , home_index_path %>
                      </li>
                                            <li> <%= link_to "About Us" , home_about_us_path %> </li>

                     
                    </ul>
                    
                    <ul class="nav pull-right">
                      <li><%= link_to "Login" , new_user_session_path %></li>
                       <li class="divider-vertical"></li>

                      <li><%= link_to "Sign up" , new_user_registration_path %></li>

                      
                    </ul>
                  </div><!-- /.nav-collapse -->
                </div>
              </div><!-- /navbar-inner -->
            </div>


 <% end %>

<div class="panel">
<%= params.inspect %>
    <%= yield %>
</div>
</div>
</div>
  </body>
</html>
