<!DOCTYPE html>
<html>
  <head>
    <title>Chaturbots</title>
    <%= csrf_meta_tags %>
	<%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>
  <style type="text/css">
    
    iframe {
      background: none transparent !important;
    }

  </style>
      <%= yield %>

  </body>
  </html>
