<!DOCTYPE html>
<html>
  <head>
    <title>Chaturbots</title>
    <%= csrf_meta_tags %>
	<%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>

<%= @organisation.p_color %>
  <style type="text/css">
.messages .message.right .text_wrapper
{
  background-color: <%= @organisation.s_color %>;
}
.messages .message.right .text_wrapper::before {
    border-color:  <%= @organisation.s_color %> transparent transparent transparent;
}
    
.messages .message .text_wrapper .text-header
{
  background-color: <%= @organisation.p_color %>;
}
.messages .message.left .text_wrapper::before {
    border-color: transparent  <%= @organisation.p_color %> transparent transparent;

}

.messages .message.left .text_wrapper {
      background-color: <%= @organisation.p_color %>;

}
.messages .message.left .text_wrapper ul li {
      background-color: <%= @organisation.p_color %>;

  }

  </style>
      <%= yield %>

  </body>
  </html>
