<!DOCTYPE html>
<html>
  <head>
    <title>Chaturbots</title>
    <%= csrf_meta_tags %>
	<%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>

  <style type="text/css">
  input {
        color: black !important;

  }
.messages .message.right .text_wrapper
{
  background-color: <%= @organisation.s_color %>;
}
.messages .message.right .text_wrapper::before {
    border-color:  <%= @organisation.s_color %> transparent transparent transparent;
}
    
.messages .message .text_wrapper .text-header
{
  background-color: <%= @organisation.p_color %>;
}
.messages .message.left .text_wrapper::before {
    border-color: transparent  <%= @organisation.p_color %> transparent transparent;

}

.messages .message.left .text_wrapper {
      background-color: <%= @organisation.p_color %>;

}
.messages .message.left .text_wrapper ul li {
      background-color: <%= @organisation.p_color %>;

  }

.messages .message.right .text 
{
  color: <%= @organisation.s_f_color %>;
}

.messages .message.left  
{
  color: <%= @organisation.p_f_color %> !important;
}
.messages .message.left label
{
  color: <%= @organisation.s_color %>;
  font-size: 15px;
}
.message .text_wrapper .btn 
{
  background-color:  <%= @organisation.s_color %>;
  color:<%= @organisation.s_f_color %> ;
}
.messages 
{
  <% if @organisation.delete_logo != 1 %>
  background: url('<%= @organisation.bg_img.url %>') !important;
  <% else %>
  background-color: <%= organisation.bg_color %>
  <% end %>
}
.fb-chat--bubbles span
{
  background-color: <%= @organisation.p_color %> !important;
}

@keyframes bob {
  10% {
    transform: translateY(-10px);
    background-color: <%= @organisation.p_color %>;
  }
  50% {
    transform: translateY(0);
  background-color: <%= @organisation.p_f_color %>;
  }
}
  </style>
      <%= yield %>

  </body>
  </html>
